body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/636/original/lukas-blazek-f-TWhXOrLiU-unsplash.jpg?1706466133");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h3 {
  text-align: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
}

.keyword-search-bar {
  padding: 10px;
  width: 75%;
  border: 1px solid rgba(170, 164, 164, 0.5);
  border-radius: 5px;
}

.submit-button {
  padding: 10px;
  width: 15%;
  background-color: rgb(170, 164, 164);
  font-weight: bold;
  border: 1px solid rgba(170, 164, 164, 0.5);
  border-radius: 5px;
  margin-left: 10px;
}

.hint {
  font-size: 12px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.response {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 15px auto;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

a {
  color: black;
}
